.mar-auto, .container {
  margin: 0px auto;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spaca-betw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-cen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.al-cen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-align {
  text-align: center;
}

.border-50 {
  border-radius: 50%;
}

.wid-100 {
  width: 100%;
}

.block {
  display: block;
}

.container {
  width: 1500px;
}

body {
  background-color: #F2F4FF;
}
