$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$main-color:#00427A;
$sec-color:gray;
$t-color:rgb(54,4,4);
$s-color:rgb(21,46,160);
$main-weidth:100;
$container-width:1500px;
