.container{
   width: 1500px;
   border:1px solid red;
   min-height: 50px;
   margin: 0px auto;
}
.flex{
    display: flex;
}
.spaca-bet{
    justify-content: space-between;
}
.js-cen{
    justify-content: center;
}
.al-cen{
align-items: center;
}
.text-align{
    text-align: center;
}
.border-50{
    border-radius: 50%;
}