$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$min-weigh:100;
$main-color:#AD1FEA;
$c-7-coloe:#C75AF6;
$secondary-color:#373F68;
$three-color:#4661E6;
$lB-color:#7C91F9;
$f-color:#647196;
$back-color:#F2F4FF;
$white-color:#FFFFFF;
$b-color:#62BCFA;
$k-color:#F49F85;
$e-color:#656EA3;
$lk-color:#E98888;
$gra-color:radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);