.container{
    width: 1500px;
    min-height: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.column{
    flex-direction: column;
}
.flex{
    display: flex;
}
.spaca-bet{
    justify-content: space-between;
}
.js-cen{
    justify-content: center;
}
.end{
    justify-content: flex-end;
}
.al-cen{
align-items: center;
}
.text-align{
    text-align: center;
}
.border-50{
    border-radius: 50%;
}
.wid-100{
    width: 100%;
}
.block{
    display: block;
}

// colors
