.name-head{
    p{
        font-weight: $min-weigh*7;
        font-size: $space-4x + 2px;
        color:$secondary-color ;
        font-style: normal;
        letter-spacing: $space-x - 3px;
        line-height: $space-6x + 4px;
    }
}
.colors-area{
    width: $space-4x*75;
    min-height: $space-4x*30;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
      .item{
          width: $space-4x*12.75;
          margin-left: $space-4x*2.5;
          margin-top: $space-3x;
           .colors-item{
            width: $space-4x*12.75;
            height: $space-4x*5 + 9px;
            border-radius: $space-2x;
            
           }
       
      }
}
// Colors
.a-color{
    background-color: $main-color;
}
.b-color{
    background-color : $three-color ;
}
.white-color{
    background-color: $white-color;
}
.c-color{
    background-color: $back-color;
}
.d-color{
    background-color : $it-color;
}
.e-color{
    background-color: $secondary-color;
}
.f-color{
    background-color: $f-color;
}
.g-color{
    background-color: $k-color;
}
.h-color{
    background-color: $b-color;
}
// rgb
.rgb-1{
background-color: 173, 31, 234;
}
.a{
    background-color:rgb(173, 31, 234);
}