.t-gr{
 width: $space-4x*55.5;
 background-color: $sm-color;
 height: $space-4x*12.7;
}
.tgr-text-area{
    width: $space-2x*150;
    min-height: $space-4x*20;
    @extend .flex;
   justify-content: space-between;
       .left-text{
           width: $space-2x*70;
           min-height: $space-4x*20;
           

             p{
               font-weight: $min-weigh*4;
               font-size: $space-3x + 1px;
               line-height: $space-6x - 6px;
               color: $f-color;
             }
             h4{
               font-weight: $min-weigh*7;
               font-size: $space-5x;
               line-height: $space-6x + 5px;
               color: $txt-color;
             }

       }
      .right-text{
        width: $space-2x*70;
        min-height: $space-2x*40;
        
           h6{
             font-weight: $min-weigh*4;
             font-size: $space-3x + 1px;
             line-height: $space-6x - 6px;
             color: $f-color;
             margin-top: $space-2x;
           }
           p{
            margin-top: $space-2x;
            font-weight: $min-weigh*4;
            color: $txt-color;
            font-size: $space-3x + 1px;
           }
      }
}
