.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outo-cen {   
  margin: 0px auto;
}

.space-bet {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-cen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-cen {
  text-align: center;
}

.font-fam {
  font-family: sans-serif;
}

.f-sz {
  font-size: large;
}
