.container{
    width: $space-2*150;
}
.flex{
    display: flex;
}
.spaca-bet{
    justify-content: space-between;
}
.js-cen{
    justify-content: center;
}
.al-cen{
align-items: center;
}
.text-align{
    text-align: center;
}
