body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.write-area{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid gray;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
}
.profile-a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.profile-a img{
    width: 150%;
    height: 100%;
    object-fit: contain;
}

.main-in{
    width: 285px;
    height: 40px;
    border: none;

}
.iconic{
   height: 100%;
   width: 30px;
   display: flex;
   justify-content: center;
   font-size: 30px;
   align-items: center;
   color: gray;
}
.information{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}
.info-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  */
.coommentary{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.main-comment{
    width: 340px;
    display: flex;
    flex-direction: column;

}
h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.text{

    word-wrap:break-word;
}
.comentary-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comments-count{
    display: flex;
}
.count{
    margin-right: 5px;
}
input{
    border: none;
}
input:focus{
   outline: none;
}
.coommentary:hover{
    cursor: pointer;
}