@mixin form-1 {
    width: $space-2x*25.5;
    height: $space-5x*2 - 2px;
    border: $space-x;
    border: 1px solid $three-color;
    box-sizing: border-box;
}
@mixin form-2 {
    width: $space-2x*25.5;
    height: $space-5x*2 - 2px;
    
}